<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td>
    <%= link_to 'Delete', user , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  </td>
</tr>